<!DOCTYPE html>
<!--
  -  asapi/lv
  -  Copyright (C) 2017  tynn
  -
  -  This program is free software: you can redistribute it and/or modify
  -  it under the terms of the GNU Affero General Public License as published by
  -  the Free Software Foundation, either version 3 of the License, or
  -  (at your option) any later version.
  -
  -  This program is distributed in the hope that it will be useful,
  -  but WITHOUT ANY WARRANTY; without even the implied warranty of
  -  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  -  GNU Affero General Public License for more details.
  -
  -  You should have received a copy of the GNU Affero General Public License
  -  along with this program. If not, see <http://www.gnu.org/licenses/>.
  -->
<meta charset="utf-8">
<!-- knowitall knowitnow nevermind -->
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="/style.css">
<script src="/page.js"></script>
<title>Android SDK API level - <%= @lib %></title>
<div style="margin:auto;max-width:678px;padding:8px">
<h2 style="text-align:center">Android SDK API level of <code>@aar</code> artifacts</h2>
<hr>
<form method="get" style="display:flex">
<input type="search" name="library" placeholder="groupId:artifactId:version" value="<%= @lib %>">
<input type="submit" value="Search">
<script type="text/javascript">
π("<%= @lib %>", "<%= @host %>", "<%= @loading %>")
</script>
</form>
<p style="text-align:center">
<a id="url" href="<%= @path %>@svg">
<%= @host %><%= @path %>@svg
</a>
<p style="text-align:center">
<a id="badge" href="<%= @path %>">
<img alt="API level <%= @api %>" src="<%= @path %>@svg">
</a>
<hr>
<div id="info" style="justify-content:flex-end;flex-wrap:wrap">
<div style="flex-grow:1">
<h4 style="margin-top:0">Android version history</h4>
<p>
<img alt="API level 26" src="https://img.shields.io/badge/API-26-green.svg">
Android 8.0 Oreo
<small>[2017]</small>
<p>
<img alt="API level 25" src="https://img.shields.io/badge/API-25-green.svg">
Android 7.1 Nougat
<small>[2016]</small>
<p>
<img alt="API level 24" src="https://img.shields.io/badge/API-24-green.svg">
Android 7.0 Nougat
<small>[2016]</small>
<p>
<img alt="API level 23" src="https://img.shields.io/badge/API-23-green.svg">
Android 6.0 Marshmallow
<small>[2015]</small>
<p>
<img alt="API level 22" src="https://img.shields.io/badge/API-22-green.svg">
Android 5.1 Lollipops
<small>[2015]</small>
<p>
<img alt="API level 21" src="https://img.shields.io/badge/API-21-green.svg">
Android 5.0 Lollipop
<small>[2014]</small>
<p>
<img alt="API level 20" src="https://img.shields.io/badge/API-20-green.svg">
Android 4.4 KitKat Wear
<small>[2014]</small>
<p>
<img alt="API level 19" src="https://img.shields.io/badge/API-19-green.svg">
Android 4.4 KitKat
<small>[2013]</small>
<p>
<img alt="API level 18" src="https://img.shields.io/badge/API-18-green.svg">
Android 4.3 Jelly Bean
<small>[2013]</small>
<p>
<img alt="API level 17" src="https://img.shields.io/badge/API-17-yellow.svg">
Android 4.2 Jelly Bean
<small>[2012]</small>
<p>
<img alt="API level 16" src="https://img.shields.io/badge/API-16-yellow.svg">
Android 4.1 Jelly Bean
<small>[2012]</small>
<p>
<img alt="API level 15" src="https://img.shields.io/badge/API-15-yellow.svg">
Android 4.0.3 Ice Cream Sandwich
<small>[2011]</small>
<p>
<img alt="API level 14" src="https://img.shields.io/badge/API-14-yellow.svg">
Android 4.0 Ice Cream Sandwich
<small>[2011]</small>
<p>
<img alt="API level 13" src="https://img.shields.io/badge/API-13-red.svg">
Android 3.2 Honeycomb
<small>[2011]</small>
<p>
<img alt="API level 12" src="https://img.shields.io/badge/API-12-red.svg">
Android 3.1 Honeycomb
<small>[2011]</small>
<p>
<img alt="API level 11" src="https://img.shields.io/badge/API-11-red.svg">
Android 3.0 Honeycomb
<small>[2011]</small>
<p>
<img alt="API level 10" src="https://img.shields.io/badge/API-10-red.svg">
Android 2.3.3 Gingerbread
<small>[2011]</small>
<p>
<img alt="API level 9" src="https://img.shields.io/badge/API-9-red.svg">
Android 2.3 Gingerbread
<small>[2010]</small>
<p>
<img alt="API level 8" src="https://img.shields.io/badge/API-8-red.svg">
Android 2.2 Froyo
<small>[2010]</small>
<p>
<img alt="API level 7" src="https://img.shields.io/badge/API-7-red.svg">
Android 2.1 Eclair
<small>[2010]</small>
<p>
<img alt="API level 6" src="https://img.shields.io/badge/API-6-red.svg">
Android 2.0.1 Eclair
<small>[2009]</small>
<p>
<img alt="API level 5" src="https://img.shields.io/badge/API-5-red.svg">
Android 2.0 Eclair
<small>[2009]</small>
<p>
<img alt="API level 4" src="https://img.shields.io/badge/API-4-red.svg">
Android 1.6 Donut
<small>[2009]</small>
<p>
<img alt="API level 3" src="https://img.shields.io/badge/API-3-red.svg">
Android 1.5 Cupcake
<small>[2009]</small>
<p>
<img alt="API level 2" src="https://img.shields.io/badge/API-2-red.svg">
Android 1.1
<small>[2009]</small>
<p>
<img alt="API level 1" src="https://img.shields.io/badge/API-1-red.svg">
Android 1.0
<small>[2008]</small>
</div>
<div class="wrap" style="text-align:right">
<div><h4>Repositories</h4><ul>
<li><a href="https://search.maven.org/">Maven Central</a>
<li><a href="https://bintray.com/bintray/jcenter">JCenter</a>
<li><a href="https://jitpack.io/">JitPack</a>
<li><a href="https://maven.google.com/">Google</a>
</ul></div>
<div><h4>References</h4><ul>
<li><a href="https://shields.io/#your-badge">shields.io</a>
<li><a href="https://developer.android.com/about/index.html">Android</a>
<li><a href="https://android-arsenal.com/api">Versions</a>
<li><a href="https://daringfireball.net/projects/markdown/syntax#img">Markdown</a>
</ul></div>
<div><h4>Contribute</h4><ul>
<li><a href="https://github.com/asapi/lv">
<img width="24" alt="gh" src="/gh.svg">
asapi/lv</a>
<li><a href="bitcoin:37mxh6eMPLeb8TgauakmfQiV7T1Rf7KYY9">
<img width="24" alt="btc" src="/btc.svg">
support</a>
<li><a href="?reload">clear cache</a>
</ul></div>
</div>
</div>
<hr>
<p style="text-align:right">
<small>&copy; 2017 &emsp; tynn &emsp; &hearts; Berlin</small>
</div>
