div#info { display: flex; }
hr { border: none; border-top: 2px dashed lightgray; margin: 24px 12px; }
label { cursor: alias; }
input[type="checkbox"], input[type="checkbox"]:not(:checked) ~ p:not(:first-of-type), :checked + p { display: none; }
input[type="search"] { flex-grow: 1; }
img { vertical-align: top; }
ul {list-style-type: none; padding: 0; }
ul > li { padding: 2px 0; }
ul > li > a > img { width: 1.1em; height: 1.1em; }
@media(orientation: portrait) {
  div#info { display: block; }
  div.wrap { display: flex; flex-wrap: wrap; justify-content: flex-end; }
  div.wrap > * { margin: 0 12px; }
}
